@import "semantic-ui";
@import "rouge.css";

body {
  margin: 0;
}

#nav {
  border-radius: 0;
}

#main {
  width: 80%;
  margin: 0 auto 5em;
}


.index {
  h1 {
    display: none;
  }
}

#forkme {
  img {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
  }
}
